<!-- Begin Announcement Bar -->
<div class="announcement-bar" style="background-color: {{ settings.announcement_bar_bg_color }}; padding: 10px 0; text-align: center;">
  <p style="margin: 0; color: {{ settings.announcement_bar_text_color }}; font-size: 16px;">
    {{ settings.announcement_bar_text }}
  </p>
</div>
<!-- End Announcement Bar -->
